@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f7f8;
  color: #333;
  margin: 0;
  padding: 0;
}

#farm-body {
  background-image: url("../images/shovelgod.jpg");
}

nav {
  background-color: #004d99;
  text-align: center;
  padding: 1em 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 1.5em;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

nav a:hover {
  color: #ffcc00;
}


main {
  max-width: 60rem;
  margin: 2em auto;
  background-color: white;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2, h3, h6 {
  color: #004d99;
}

ul {
  list-style-type: square;
}


img {
  max-width: 100%;
  border-radius: 1em;
  display: block;
  margin: 1.5em auto;
}


.fluid-layout main {
  width: 80%;
  max-width: none;
  padding: 3vw;
  font-size: 1.1rem;
}


h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p, li {
  font-size: 1rem;
}


footer {
  text-align: center;
  padding: 1em;
  background-color: #004d99;
  color: white;
  margin-top: 2em;
  font-size: 0.9rem;
}

